In [20]:
import pandas as pd

In [21]:
df = pd.read_csv("dataset/Crop Production data.csv")
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246091 entries, 0 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     246091 non-null  object
 1   District_Name  246091 non-null  object
 2   Crop_Year      246091 non-null  int64
 3   Season         246091 non-null  object
 4   Crop           246091 non-null  object
 5   Area           246091 non-null  float64
 6   Production     242361 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.1+ MB

In [23]:
# df["Production"].fillna(0, inplace=True)
df.dropna(subset=["Production"],axis=0,inplace=True)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 242361 entries, 0 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     242361 non-null  object
 1   District_Name  242361 non-null  object
 2   Crop_Year      242361 non-null  int64
 3   Season         242361 non-null  object
 4   Crop           242361 non-null  object
 5   Area           242361 non-null  float64
 6   Production     242361 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 14.8+ MB

In [25]:
df.isnull().sum()

State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

In [26]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
246086    False
246087    False
246088    False
246089    False
246090    False
Length: 242361, dtype: bool

In [27]:
df['Crop']

0                    Arecanut
1         Other Kharif pulses
2                        Rice
3                      Banana
4                   Cashewnut
                 ...
246086                   Rice
246087                Sesamum
246088              Sugarcane
246089                   Rice
246090                Sesamum
Name: Crop, Length: 242361, dtype: object

In [28]:
df.count()

State_Name       242361
District_Name    242361
Crop_Year        242361
Season           242361
Crop             242361
Area             242361
Production       242361
dtype: int64

In [29]:
df.to_csv("Crop_Production_Data.csv", index=False)